
@import 'bootstrap';
@font-face {font-family:"Aller Bold";
    src:url('Aller_Bd.eot?') format("eot"),
    url('fonts/Aller_Bd.woff') format("woff"),
    url(asset-path('../fonts/Aller_Bold/Aller_Bd.ttf')) format("truetype"),
    url('Aller_Bd.svg#Aller-Bold') format("svg");font-weight:normal;font-style:normal;}

@import url('https://fonts.googleapis.com/css2?family=Allerta&display=swap');

*{
    background-color: rgb(42, 42, 42);
    color: white;
    font-family: 'Aller Bold', 'Allerta', 'Trebuchet MS';
}

.nav-links{
    display: flex;
    justify-content: space-around;
    top: 20px;
}

#logo{
    padding-top: 10px;
    padding-left: 10px;
    height: 100px;
    width: 100px;
    right: 1rem;
}

#home-container{
    text-align: center;
    height: 85vh;
    width: 88vw;
    border: solid 4px white;
    border-radius: 5px;
    margin: 0 5% 0 5%;
}

a{
    color: white !important;
    text-decoration: none !important;
}
a:hover {
    cursor: pointer !important;
    color: #ff23c1 !important;
    text-decoration: none !important;
  }
  .body-container{
    text-align: center;
    height: fit-content;
    width: 88vw;
    border: solid 4px white;
    border-radius: 5px;
    margin: 0 5% 0 5%;
}

.index-body{
    display: grid;
    position: relative;
    grid-template-columns: repeat(2, auto);
    grid-gap: .5rem;
    align-items: center;
}

.card-div{
   display: flex;
  
}

.index-card{
    height: 600px;
    width: 450px;
}

.form{
    margin: 0 20% 0 25%;
}

.form-id{
    text-align: left;
    width: 555px;
}
#form-button{
    text-align: center;
    left: 30px;
}

#index-img{
 height: 500px;

}