
@import 'bootstrap';
@font-face {
    font-family: Aller_Bd;
    src: url('app/javascript/components/assets/Aller_Bd.ttf');
}

*{
    background-color: rgb(42, 42, 42);
    color: white;
    font-family: Aller_Bd;
}

.nav-links{
    display: flex;
    justify-content: space-around;
}

#logo{
    padding-top: 10px;
    padding-left: 10px;
    height: 100px;
    width: 100px;
    right: 1rem;
}

#home-container{
    text-align: center;
    height: 85vh;
    width: 88vw;
    border: solid 4px white;
    border-radius: 5px;
    margin: 0 5% 0 5%;
}

a{
    color: white !important;
    text-decoration: none !important;
}
a:hover {
    cursor: pointer !important;
    color: #cd3ca4 !important;
    text-decoration: none !important;
  }